@import "compass/reset";
@import "susy";

$total-columns: 16;
$column-width: 50px;
$gutter-width: 10px;
$grid-padding: 8px;

$light-green: #e9ffb3;
$dark-green: #05372b;
$green: #96ca0d;

$grey: #dfe7e5;


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404644;
    line-height: 130%;
}

i {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    margin-right: 5px;
}
i.heart {
    background-position: -17px 2px;
    width: 20px;
}
i.idea {
    background-position: 2px 0px;
    width: 20px;
}

a {
    color: $dark-green;
}

div.container {
    //width: 1170px;
    margin: auto;
    width: 968px;
}

header, .container > .home, .container > .content {
    margin: auto;
    @include container;
}

header {
    background-color: $dark-green;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    border-top: 5px solid #92c557;
    padding-bottom: 10px;
    background: url(../img/navbg-btn.png) bottom center no-repeat, url(../img/header-pat.png) top center repeat-y, $dark-green;

    &:after {
        clear: both;
        display: table;
        line-height: 0;
        content: "";
    }

    div.logo {
        float: left;
        padding-top: 5px;
        padding-left: 10px;

        img {
            padding: 22px;
        }
    }

    nav {
        float: right;
        padding-top: 10px;

        ul {
            padding-right: 20px;

            li {
                float:left;
                border-left: 1px solid #0a2820;
                padding: 10px 20px;
                list-style-type: none;
                margin: 20px 0px;

                a {
                    color: #ffffff;
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        color: #728882;
                    }
                }
            }
        }
    }
}
body.home {
    .content {
        //background: url(../img/homebg.png) 50% -125px no-repeat #dfe7e5;    
        background: url(../img/homebg-b.png) 50% 0px no-repeat #dfe7e5;    
    }
}
div.home {
    //border-top: 2px solid #0a271f;
    background-color: #0d342a;
    background: url(../img/homebg-t.png) 50% 100% no-repeat, url(../img/header-pat.png) top left repeat-y;
    position: relative;

    &:after {
        clear: both;
        display: table;
        line-height: 0;
        content: "";
    }

    div.claim {
        @include span-columns(12);
        text-align: center;
        padding-bottom: 40px;

        p {
            color: $grey;//#b5d0c9;
            border-top: 1px dotted $grey; //#b5d0c9;
            width: 395px;
            font-size: 13px;
            line-height: 1.5em;
            margin: 10px auto 0px auto;
            padding-top: 10px;
            font-style: italic;
        }

        h2 {
            font-size: 29px;
            font-weight: normal;
            margin: 10px 0px;
            padding: 20px 0px 0px 15px;
            opacity: 1;
            text-shadow: 2px 2px 2px #1b2f0b;
            color: #ffffff;
            span {
                background: #011711;
                line-height: 38px;
                &:before, &:after {
                    font-size: 140%;
                    font-weight: bold;
                    background: transparent;
                    position: relative;
                    top: 3px;
                }
                &:before {
                    content: "“";
                }
                &:after {
                    content: '”';
                }
            }
        }
    }

    div.release {
        @include span-columns(4 omega);
        color: $green;
        text-align: center;
        position: absolute;
        bottom: 24px;
        right: 8px;
        padding: 20px 0;
        text-shadow: 1px 1px 1px darken($green, 20);
        strong {
            text-decoration: underline;
            display: block;
        }

        .version {
            font-size: 40px;
            font-weight: bold;
            line-height: 44px;
            font-size: bold;
            color: $green;
            text-decoration: none;
        }
    }
}

div.content {
    background-color: #dfe7e5;
    font-size: 15px;
    line-height: 140%;

    &:after {
        clear: both;
        display: table;
        line-height: 0;
        content: "";
    }

    div.teasers {
        @include span-columns(8);
        ul {
            margin: 15px 0 15px 1px;
        }
    }

    div.hints {
        @include span-columns(8 omega);
        margin-top: 100px;
    }

    ul.list {
        margin-left: 1px;

        li {
            clear: left;
            list-style-type: none;

            div.date {
                float: left;

                span.month {
                    color: #95c537;
                    font-size: 10px;
                    text-transform: uppercase;
                    display: block;
                }

                span.day {
                    padding: 4px 1px;
                    text-align: center;
                    width: 35px;
                    display: inline-block;
                    background-color: #95c537;
                    color: #ffffff;
                    font-size: 24px;
                }
            }
            div.item {
                margin-left: 48px;
                padding-top: 17px;

                span {
                    font-weight: bold;
                    font-size: 18px;
                }
                small {
                    font-size: 12px;
                }
            }
        }
    }

    div.listbox {
        background-color: #ffffff;
        padding: 10px;
        width: 406px;
        margin: 0 0 20px 30px;
        //box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.7);

        h3 {
            font-size: 20px;
            padding-left: 50px;
            background-color: #95c537;
            line-height: 37px;
            font-weight: normal;
            color: #ffffff;
        }
    }

    div.minibox {
        //border-bottom: 1px solid #cccccc;
        
        padding-bottom: 30px;
        padding-top: 15px;
        margin-bottom: 0px;
        
        
        h3 {
            font-size: 20px;
            padding-left: 10px;
            background-color: #95c537;
            line-height: 37px;
            font-weight: normal;
            color: #ffffff;
        }

        p {
            padding-left: 12px;
            padding-top: 10px;
            font-size: 13px;
        }
    }

    .hints .minibox {
        @include span-columns(4, 8);
        background: url(../img/minibox-bg.png) bottom center no-repeat;
        &:nth-child(3), &:nth-child(4) {
            background: none;
            padding-bottom: 15px;
        }
        &:nth-child(even) {
            @include omega;
        }
        i {
            position: relative;
            top: 4px;
        }
    }

    article {
        padding-top:10px;
    }
}

aside .minibox {
    padding: 10px;
    background: #FFF;
}

ul.dates {
    list-style: disc;
    padding: 15px 0 15px 25px;
}

h1 {
    font-size: 32px;
    padding: 40px 20px;
    background: url(../img/header-pat.png) top left repeat;
    color: #FFF;
    margin: 0 1px 15px 1px;
    border-bottom: 25px solid $green;
    text-align: center;
    span {
        background: #011711;
        line-height: 38px;
        padding: 0px 4px;
        &:before, &:after {
            content: " ";
        }
    }
}
body.listing, article {
    #main {
        padding: 15px 8px;
    }
    #content {
        @include span-columns(10);
    }
    aside {
        @include span-columns(5 omega);
    }
}

body.article #content {
    padding: 10px 15px;
    p, ul, table, pre, blockquote {
        margin-bottom: 1em;
    }
}

footer {
    background: url(../img/footer.png) top center no-repeat;
    height: 116px;
    margin-top: 20px;
}

div.pagination {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;

    span, a {
        padding: 2px 4px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        background-color: #95c537;
        color: #ffffff;
        font-size: 12px;

        &.disabled {
            display: none;
        }
    }
}
body.imprint, body.about, body.association {
    h2 {
        font-size: 16px;
        padding-left: 10px;
        margin-bottom: 10px;
        background-color: #95c537;
        line-height: 27px;
        font-weight: normal;
        color: #ffffff;
    }
    p {
        padding-bottom: 20px;
    }
    em {
        font-style: italic;
        font-size: 11px;
    }
    strong {
        font-weight: bold;
    }
}

code {
    display: block;
    white-space: pre-wrap;
    font-family: Monospace;
    font-size: 12px;
    margin-bottom: 10px;
}
