@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404644;
  line-height: 130%;
}

i {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  margin-right: 5px;
}

i.heart {
  background-position: -17px 2px;
  width: 20px;
}

i.idea {
  background-position: 2px 0px;
  width: 20px;
}

a {
  color: #05372b;
}

div.container {
  margin: auto;
  width: 968px;
}

header, .container > .home, .container > .content {
  margin: auto;
  *zoom: 1;
  max-width: 950px;
  _width: 950px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}
header:after, .container > .home:after, .container > .content:after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: #05372b;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  border-top: 5px solid #92c557;
  padding-bottom: 10px;
  background: url(../img/navbg-btn.png) bottom center no-repeat, url(../img/header-pat.png) top center repeat-y, #05372b;
}
header:after {
  clear: both;
  display: table;
  line-height: 0;
  content: "";
}
header div.logo {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}
header div.logo img {
  padding: 22px;
}
header nav {
  float: right;
  padding-top: 10px;
}
header nav ul {
  padding-right: 20px;
}
header nav ul li {
  float: left;
  border-left: 1px solid #0a2820;
  padding: 10px 20px;
  list-style-type: none;
  margin: 20px 0px;
}
header nav ul li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: #728882;
}

body.home .content {
  background: url(../img/homebg-b.png) 50% 0px no-repeat #dfe7e5;
}

div.home {
  background-color: #0d342a;
  background: url(../img/homebg-t.png) 50% 100% no-repeat, url(../img/header-pat.png) top left repeat-y;
  position: relative;
}
div.home:after {
  clear: both;
  display: table;
  line-height: 0;
  content: "";
}
div.home div.claim {
  width: 74.73684%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
  text-align: center;
  padding-bottom: 40px;
}
div.home div.claim p {
  color: #dfe7e5;
  border-top: 1px dotted #dfe7e5;
  width: 395px;
  font-size: 13px;
  line-height: 1.5em;
  margin: 10px auto 0px auto;
  padding-top: 10px;
  font-style: italic;
}
div.home div.claim h2 {
  font-size: 29px;
  font-weight: normal;
  margin: 10px 0px;
  padding: 20px 0px 0px 15px;
  opacity: 1;
  text-shadow: 2px 2px 2px #1b2f0b;
  color: #ffffff;
}
div.home div.claim h2 span {
  background: #011711;
  line-height: 38px;
}
div.home div.claim h2 span:before, div.home div.claim h2 span:after {
  font-size: 140%;
  font-weight: bold;
  background: transparent;
  position: relative;
  top: 3px;
}
div.home div.claim h2 span:before {
  content: "“";
}
div.home div.claim h2 span:after {
  content: '”';
}
div.home div.release {
  width: 24.21053%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
  color: #96ca0d;
  text-align: center;
  position: absolute;
  bottom: 24px;
  right: 8px;
  padding: 20px 0;
  text-shadow: 1px 1px 1px #4f6a07;
}
div.home div.release strong {
  text-decoration: underline;
  display: block;
}
div.home div.release .version {
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  font-size: bold;
  color: #96ca0d;
  text-decoration: none;
}

div.content {
  background-color: #dfe7e5;
  font-size: 15px;
  line-height: 140%;
}
div.content:after {
  clear: both;
  display: table;
  line-height: 0;
  content: "";
}
div.content div.teasers {
  width: 49.47368%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
div.content div.teasers ul {
  margin: 15px 0 15px 1px;
}
div.content div.hints {
  width: 49.47368%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
  margin-top: 100px;
}
div.content ul.list {
  margin-left: 1px;
}
div.content ul.list li {
  clear: left;
  list-style-type: none;
}
div.content ul.list li div.date {
  float: left;
}
div.content ul.list li div.date span.month {
  color: #95c537;
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}
div.content ul.list li div.date span.day {
  padding: 4px 1px;
  text-align: center;
  width: 35px;
  display: inline-block;
  background-color: #95c537;
  color: #ffffff;
  font-size: 24px;
}
div.content ul.list li div.item {
  margin-left: 48px;
  padding-top: 17px;
}
div.content ul.list li div.item span {
  font-weight: bold;
  font-size: 18px;
}
div.content ul.list li div.item small {
  font-size: 12px;
}
div.content div.listbox {
  background-color: #ffffff;
  padding: 10px;
  width: 406px;
  margin: 0 0 20px 30px;
}
div.content div.listbox h3 {
  font-size: 20px;
  padding-left: 50px;
  background-color: #95c537;
  line-height: 37px;
  font-weight: normal;
  color: #ffffff;
}
div.content div.minibox {
  padding-bottom: 30px;
  padding-top: 15px;
  margin-bottom: 0px;
}
div.content div.minibox h3 {
  font-size: 20px;
  padding-left: 10px;
  background-color: #95c537;
  line-height: 37px;
  font-weight: normal;
  color: #ffffff;
}
div.content div.minibox p {
  padding-left: 12px;
  padding-top: 10px;
  font-size: 13px;
}
div.content .hints .minibox {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  background: url(../img/minibox-bg.png) bottom center no-repeat;
}
div.content .hints .minibox:nth-child(3), div.content .hints .minibox:nth-child(4) {
  background: none;
  padding-bottom: 15px;
}
div.content .hints .minibox:nth-child(even) {
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
}
div.content .hints .minibox i {
  position: relative;
  top: 4px;
}
div.content article {
  padding-top: 10px;
}

aside .minibox {
  padding: 10px;
  background: #FFF;
}

ul.dates {
  list-style: disc;
  padding: 15px 0 15px 25px;
}

h1 {
  font-size: 32px;
  padding: 40px 20px;
  background: url(../img/header-pat.png) top left repeat;
  color: #FFF;
  margin: 0 1px 15px 1px;
  border-bottom: 25px solid #96ca0d;
  text-align: center;
}
h1 span {
  background: #011711;
  line-height: 38px;
}
h1 span:before, h1 span:after {
  content: " ";
}

body.listing #main, article #main {
  padding: 15px 8px;
}
body.listing #content, article #content {
  width: 62.10526%;
  float: left;
  margin-right: 1.05263%;
  display: inline;
}
body.listing aside, article aside {
  width: 30.52632%;
  float: right;
  margin-right: 0;
  #margin-left: -10px;
  display: inline;
}

body.article #content {
  padding: 10px 15px;
}
body.article #content p, body.article #content ul, body.article #content table, body.article #content pre, body.article #content blockquote {
  margin-bottom: 1em;
}

footer {
  background: url(../img/footer.png) top center no-repeat;
  height: 116px;
  margin-top: 20px;
}
