body {
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

header.row {
    background-color: #0d342a;
    border-top: 5px solid #92c557;

    img.logo {
        padding: 22px;
    }

    nav > ul {
        float: right;
        padding-right: 20px;

        li {
            float:left;
            border-left: 1px solid #0a2820;
            padding: 10px 20px;
            list-style-type: none;
            margin: 20px 0px;

            a {
                color: #ffffff;
                font-size: 14px;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #728882;
                }
            }
        }
    }
}

div.title {
    border-top: 2px solid #0a271f;
    background-color: #0d342a;
    padding-bottom: 25px;

    p {
        color: #e5ecd9;
        font-size: 13px;
        line-height: 1.5em;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 25px;

    }

    h2 {
        font-size: 29px;
        font-weight: normal;
        line-height: 1.2em;
        margin: 10px 0px;
        padding: 20px 0px 0px 15px;
        opacity: 1;
        text-shadow: 2px 2px 2px #1b2f0b;
        color: #ffffff;
    }

    div.releasebox {
        color: #ffffff;
        margin: 20px 40px;
        background-color: #95c537;
        padding: 10px 10px;
        text-align: center;

        span.version {
            font-size: 40px;
            font-weight: bold;
            line-height: 50px;
            font-size: bold;
        }
    }
}

div.content {
    background-color: #dfe7e5;
    border-top: 10px solid #ffffff;

    ul.list {
        margin-left: 1px;

        li {
            clear: left;
            list-style-type: none;

            div.date {
                float: left;

                span.month {
                    color: #95c537;
                    font-size: 10px;
                    text-transform: uppercase;
                }

                span.day {
                    padding: 4px 1px;
                    text-align: center;
                    width: 35px;
                    display: inline-block;
                    background-color: #95c537;
                    color: #ffffff;
                    font-size: 24px;
                }
            }
            div.item {
                margin-left: 48px;
                padding-top: 6px;

                span {
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }

    div.listbox {
        position: relative;
        background-color: #ffffff;
        padding: 2px 10px;
        box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.7);

        h3 {
            font-size: 20px;
            padding-left: 50px;
            background-color: #95c537;
            line-height: 37px;
            font-weight: normal;
            color: #ffffff;
        }
    }

    div.minibox {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
        margin-bottom: 20px;

        h3 {
            font-size: 20px;
            padding-left: 10px;
            background-color: #95c537;
            line-height: 37px;
            font-weight: normal;
            color: #ffffff;
        }

        p {
            font-size: 13px;
            padding-left: 12px;
        }
    }

    article {
        padding-top:10px;
    }
}
