{% extends "article_base.html" %}
{% load markup %}

{% block title %}Über den Verein | django-de.org{% endblock %}
{% block headline %}Über den Deutschen Django Verein{% endblock %}

{% block bodycls %}association{% endblock %}

{% block article %}
    <h2>Über den Verein</h2>
    <p>
        Der Deutsche Django Verein wurde im Jahr 2009 gegründet, um Django im deutschsprachigen Raum weiter bekannt zu machen und um eine zentrale Anlaufstelle für Entwickler und Benutzer von Django-basierter Software zu bieten.<br />
        <br />
        Der Verein hat im Jahr 2010 die Konferenz "DjangoCon Europe" in Berlin ausgerichtet und organisiert regelmäßige Sprints um die Weiterentwicklung von Django voranzutreiben. Außerdem bietet der Verein Usergruppen bei Bedarf finanzielle Unterstütztung bei der Ausrichtung von Veranstaltungen.<br />
        <br />
        Weitere Informationen rund um den Verein werden wir in Kürze hier veröffentlichen.
    </p>
{% endblock %}

{% block aside %}
	<div class="minibox">
	    <h2>Weitere Informationen</h2>
	    <ul>
            <li><a href="/verein/mitglied-werden/">Wie werde ich Mitglied?</a></li>
            <li><a href="/verein/spenden/">Den Verein mit Spenden unterstützen</a></li>
            <li><a href="/verein/presse/">Pressekontakt und Pressematerialien</a></li>
            <li><a href="/verein/mitgliederversammlungen/">Mitgliederversammlungen</a></li>
		</ul>
	</div>
{% endblock %}

