{% extends "base.html" %}
{% load news_tags events_tags version_tags %}
{% block bodycls %}home{% endblock %}
{% block container %}
    <div class="home">
        <div class="claim">
            <h2><span>
                Django ist ein Python-Web-Framework für die schnelle
                Entwicklung von sauberen, pragmatischen Lösungen.
            </span></h2>

            <p>
                Ursprünglich für Nachrichtenplattformen entwickelt, ist
                <strong>Django</strong> darauf optimiert, die straffen
                <strong>Deadlines</strong> in Online-Redaktionen einzuhalten
                und trotzdem den hohen technischen <strong>Ansprüchen</strong>
                gerecht zu werden.
            </p>
        </div>
        <div class="release">
            <strong>Last Release:</strong>
            <a href="https://www.djangoproject.com/download/" class="version" rel="external">{% latest_stable_version %}</a>
        </div>
    </div>

    <div class="content">
        <div class="teasers">
            <div class="listbox" style="top:-30px;">
                <h3>Termine</h3>
                {% show_events 8 %}
            </div>
            <div class="listbox" style="top:-10px">
                <h3>News</h3>
                {% show_news 5 %}
            </div>
        </div>
        <div class="hints">
            <div class="minibox">
                <h3><i class="heart"></i>Open Source</h3>
                <p>
                    Django ist Open Source (BSD-Lizenz). Man kann als Entwickler
                    also einerseits in den Quellcode schauen, um die Funktionalität
                    zu verstehen, andererseits auch an der Weiterentwicklung von
                    Django teilnehmen. Die Benutzung von Django ist kostenlos.
                </p>
            </div>
            <div class="minibox">
                <h3>Freundliche Community</h3>
                <p>
                    Sollten einmal Probleme auftreten, bei denen auch die Dokumentation
                    nicht mehr weiterhelfen kann, kann man sich über die Mailingliste
                    oder den IRC-Channel (#django-de oder #django im Freenode IRC Netzwerk)
                    Rat und Tipps von der Django-Community holen.
                </p>
            </div>
            <div class="minibox">
                <h3>Template Engine</h3>
                <p>
                    Die Templates werden in einer eigenen Templatesprache geschrieben. Sie
                    bringt bereits viele nützliche Helfer zum Erstellen der Ausgabe mit.
                    Die umfangreiche Tag-Bibliothek kann leicht um eigene Funktionen
                    erweitert werden.
                </p>
            </div>
            <div class="minibox">
                <h3><i class="idea"></i>Dokumentation</h3>
                <p>
                    Django besitzt eine hervorragende (englische) Dokumentation mit vielen
                    nützlichen Beispielen. Die Django Dokumentation ist
                    <a href="https://docs.djangoproject.com/">im Web verfügbar</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
