{% extends "base.html" %}
{% load news_tags events_tags version_tags %}

{% block container %}
    <div class="home">
        <div class="claim">
            <h2>
                Django ist ein Python-Web-Framework für die schnelle
                Entwicklung von sauberen, pragmatischen Lösungen.
            </h2>

            <p>
                Ursprünglich für Nachrichtenplattformen entwickelt, ist
                <strong>Django</strong> darauf optimiert, die straffen
                <strong>Deadlines</strong> in Online-Redaktionen einzuhalten
                und trotzdem den hohen technischen <strong>Ansprüchen</strong>
                gerecht zu werden.
            </p>
        </div>
        <div class="release">
            <strong>Last Release:</strong><br />
            <span class="version"style="">{% latest_stable_version %}</span>
        </div>
    </div>

    <div class="content">
        <div class="teasers">
            <div class="listbox" style="top:-30px;">
                <h3>Termine</h3>
                {% show_events 8 %}
            </div>
            <div class="listbox" style="top:-10px">
                <h3>News</h3>
                {% show_news 5 %}
            </div>
        </div>
        <div class="hints">
            <div class="minibox">
                <h3>Open Source</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="minibox">
                <h3>Freundliche Community</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="minibox">
                <h3>Dokumentation</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="minibox">
                <h3>Template Engine</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
