{% extends "base.html" %}

{% block container %}
    <div class="row teaser">
        <div class="span8">
            <p class="title">
                Django ist ein Python-Web-Framework für die schnelle
                Entwicklung von sauberen, pragmatischen Lösungen.
            </p>

            <p>
                Ursprünglich für Nachrichtenplattformen entwickelt, ist
                <strong>Django</strong> darauf optimiert, die straffen
                <strong>Deadlines</strong> in Online-Redaktionen einzuhalten
                und trotzdem den hohen technischen <strong>Ansprüchen</strong>
                gerecht zu werden.
            </p>
        </div>
        <div class="span4">
            <div class="releasebox">
                <strong>Last Release:</strong><br />
                <span class="version"style="">1.4.3</span>
            </div>
        </div>
    </div>

    <div class="row home">
        <div class="span6">
            <div class="listbox" style="top:-50px;">
                <h3>Termine</h3>
                <ul>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span>Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="listbox" style="top:-20px">
                <h3>News</h3>
                <ul>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                    <li>
                        <div class="date">
                            <span class="month">Aug</span><br />
                            <span class="day">26</span>
                        </div>
                        <div class="title">
                            <span style="">Django Usergroup Berlin</span><br />
                            <small>Die Usergroup trifft sich wieder... Die Usergroup trifft sich wieder...</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="span3" style="padding-top:10px">
            <div class="minibox">
                <h3>Open Source</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="minibox">
                <h3>Freundliche Community</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="span3" style="padding-top:10px;margin-left:10px">
            <div class="minibox">
                <h3>Dokumentation</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="minibox">
                <h3>Template Engine</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
