/* line 4, ../sass/screen.scss */
body {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

/* line 8, ../sass/screen.scss */
header.row {
  background-color: #0d342a;
  border-top: 5px solid #92c557;
}
/* line 12, ../sass/screen.scss */
header.row img.logo {
  padding: 22px;
}
/* line 16, ../sass/screen.scss */
header.row nav > ul {
  float: right;
  padding-right: 20px;
}
/* line 20, ../sass/screen.scss */
header.row nav > ul li {
  float: left;
  border-left: 1px solid #0a2820;
  padding: 10px 20px;
  list-style-type: none;
  margin: 20px 0px;
}
/* line 27, ../sass/screen.scss */
header.row nav > ul li a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 33, ../sass/screen.scss */
header.row nav > ul li a:hover {
  color: #728882;
}

/* line 41, ../sass/screen.scss */
div.title {
  border-top: 2px solid #0a271f;
  background-color: #0d342a;
  padding-bottom: 25px;
}
/* line 46, ../sass/screen.scss */
div.title p {
  color: #e5ecd9;
  font-size: 13px;
  line-height: 1.5em;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 25px;
}
/* line 56, ../sass/screen.scss */
div.title h2 {
  font-size: 29px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 10px 0px;
  padding: 20px 0px 0px 15px;
  opacity: 1;
  text-shadow: 2px 2px 2px #1b2f0b;
  color: #ffffff;
}
/* line 67, ../sass/screen.scss */
div.title div.releasebox {
  color: #ffffff;
  margin: 20px 40px;
  background-color: #95c537;
  padding: 10px 10px;
  text-align: center;
}
/* line 74, ../sass/screen.scss */
div.title div.releasebox span.version {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  font-size: bold;
}

/* line 83, ../sass/screen.scss */
div.content {
  background-color: #dfe7e5;
  border-top: 10px solid white;
}
/* line 87, ../sass/screen.scss */
div.content ul.list {
  margin-left: 1px;
}
/* line 90, ../sass/screen.scss */
div.content ul.list li {
  clear: left;
  list-style-type: none;
}
/* line 94, ../sass/screen.scss */
div.content ul.list li div.date {
  float: left;
}
/* line 97, ../sass/screen.scss */
div.content ul.list li div.date span.month {
  color: #95c537;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 103, ../sass/screen.scss */
div.content ul.list li div.date span.day {
  padding: 4px 1px;
  text-align: center;
  width: 35px;
  display: inline-block;
  background-color: #95c537;
  color: #ffffff;
  font-size: 24px;
}
/* line 113, ../sass/screen.scss */
div.content ul.list li div.item {
  margin-left: 48px;
  padding-top: 6px;
}
/* line 117, ../sass/screen.scss */
div.content ul.list li div.item span {
  font-weight: bold;
  font-size: 18px;
}
/* line 125, ../sass/screen.scss */
div.content div.listbox {
  position: relative;
  background-color: #ffffff;
  padding: 2px 10px;
  box-shadow: 4px 4px 12px rgba(50, 50, 50, 0.7);
}
/* line 131, ../sass/screen.scss */
div.content div.listbox h3 {
  font-size: 20px;
  padding-left: 50px;
  background-color: #95c537;
  line-height: 37px;
  font-weight: normal;
  color: #ffffff;
}
/* line 141, ../sass/screen.scss */
div.content div.minibox {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
/* line 146, ../sass/screen.scss */
div.content div.minibox h3 {
  font-size: 20px;
  padding-left: 10px;
  background-color: #95c537;
  line-height: 37px;
  font-weight: normal;
  color: #ffffff;
}
/* line 155, ../sass/screen.scss */
div.content div.minibox p {
  font-size: 13px;
  padding-left: 12px;
}
/* line 161, ../sass/screen.scss */
div.content article {
  padding-top: 10px;
}
