{% extends "list_base.html" %}

{% block title %}News | django-de.org{% endblock %}

{% block headline %}News{% endblock %}

{% block content %}
    {% include "news/object_list.html" %}
{% endblock %}

{% block aside %}
    <div class="minibox">
        <h3>Archiv</h3>
        {% if months %}
        <ul class="dates">
            {% for month in months %}
                {% with m=month|date:"m" y=month|date:"Y" %}
                    <li><a href="{% url news_list year=y month=m %}">{{ month|date:"F Y" }}</a></li>
                {% endwith %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}
