{% load pagination_tags news_tags %}
<ul class="list">
    {% autopaginate object_list %}
    {% for object in object_list %}
    <li>
        <div class="date">
            <span class="month">{{ object.pub_date|date:"M" }}</span>
            <span class="day">{{ object.pub_date|date:"d" }}</span>
        </div>
        <div class="item">
            <h2><a href="{% news_url object %}">{{ object.title|truncatechars:40 }}</a></h2>
            <small>
                {% if object.body %}
                    {{ object.body|safe|truncatewords_html:20 }}
                    <a href="{{ object.get_absolute_url }}">mehr...</a>
                {% else %}
                    {{ object.title|urlize }}
                {% endif %}
            </small>
        </div>
    </li>
    {% endfor %}
</ul>

{% paginate %}
